<section class="container">

  <h2>Formulário</h2>
  <hr>

  <div class="row">
    <form class="col-sm-6" (submit)="enviarFoto()" #form="ngForm">
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input id="titulo" name="titulo" class="form-control" #inputNome="ngModel" [(ngModel)]="foto.titulo" required max-length="5">
        <div class="alert alert-danger" *ngIf="form.dirty && inputNome.invalid && inputNome.errors.required">
          Título é obrigatório
        </div>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <input id="url" name="url" class="form-control" [(ngModel)]="foto.url" >
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea id="descricao" name="descricao" class="form-control" [(ngModel)]="foto.descricao">

        </textarea>
      </div>
      <a [routerLink]="['']" class="btn btn-link">
        Voltar
      </a>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Salvar
      </button>
    </form>
    <app-card-foto [foto]="foto" class="col-sm-6"></app-card-foto>
  </div>
</section>
